/*universal styles*/
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Kumbh Sans, sans-serif;
}


/*header*/

.navbar-brand {
    padding: 0%;
    margin-left: -10px;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

.navbar-nav .nav-item .nav-link {
    padding-bottom: 30px;
    margin-top: 10px;
}

.navline {
    border-bottom: 2px solid #ebe9e9;
}

#mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 17em;
}

.cartXIcon {
    margin-right: -10px;
}

.icon:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

#cartBadge {
    background-color: hsl(26, 100%, 55%);
    font-size: xx-small;
}

/* .cartModal {
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
} */

#cart {
    z-index: 1;
    top: 80px; 
    overflow: auto;
    margin-right: 90px;
    width: 290px;
    box-shadow: 1px 11px 9px 6px rgba(148, 147, 147, 0.156);
}

.cartLine {
    border-bottom: 2px solid #ebe9e9;
}

/* #order {
    height: auto;
} */
/* .navCart {
    margin-left: auto;
} */

/* .navIcon, .navCart {
    margin-right: -10px;
} */

/* div li {
    padding: 0px 20px;
} */




/*body*/

.listItems li a {
    color: #87879D;
    text-decoration: none;
}

body {
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

p {
    font-size: 16px;
    padding-bottom: 20px;
    padding-right: 60px;
}

h4 {
    font-weight: 700;
}
 
/*main*/ 
.mainItems {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 60px;
} 

.bodyImage {
    height: 350px;
    border-style: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

 .productOther:hover {
    opacity: 0.8;
    border: 2px solid hsl(26, 100%, 55%);
} 

.otherSection {
    padding-top: 40px;
    margin-left: -4em;
}

.sneak {
    color: hsl(26, 100%, 70%);
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 900;
}

.fall {
    margin-top: -10px;
    padding-bottom: 10px;
    font-weight: 900;
}

.otherSection>p {
    color: #87879D;
}

.money {
    margin-top: -20px;
}

.price {
    font-size: larger;
    font-weight: 700;
}

.discount {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    border-style: solid;
    border-color: hsl(25, 100%, 94%);
    border-radius: 7px;
    font-weight: 700;
    font-size: smaller;
    padding: 1.3px;
    margin-left: 8px;
}

.previous_price {
    font-size: small;
    text-decoration: line-through;
    color: #87879D;
}

div p span {
    line-height: 0px;
}

form {
    margin-top: -10px;
}

.imageSection {
    margin-right: 10em;
}

.thumbImage {
    cursor: pointer;
}

i {
    margin-right: 10px;
}

/* buttons */
#cartButton {
    color: white;
    background-color: hsl(26, 100%, 55%);
    box-shadow: 1px 14px 13px 4px hsla(26, 100%, 55%, .156);
}

#cartButton:hover {
    opacity: 0.7;
}

.numInput {
    width: auto!important;
}

.numberInput .minus, .numberInput .plus {
    font-size: 20px;
    color: hsl(26, 100%, 55%);
}

.numberInput .minus:hover, .numberInput .plus:hover {
    color: hsl(26, 100%, 55%);
    border: .3px solid hsl(26, 100%, 55%); 
}

.numberInput {
    background-color: #f3f0f0;
    border: 1px hidden;
    border-radius: 10px;
}

.numberInput .number {
    font-weight:600;
}

#checkout {
    color: white;
    background-color: hsl(26, 100%, 55%);
}

/* footer */
/* footer {
    padding: 12px 0px;
} */