/*universal styles*/
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Kumbh Sans, sans-serif;
}


/*header*/ 

#headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    padding: 10px 130px;
}

#mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.listItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20em;
}

div li {
    padding: 0px 20px;
}

hr {
    width: 68em;
    margin-left: 7em;
    position: relative;
    top: -60px;
    left: 18px;
    opacity: .3;
}



/*body*/

.listItems li a {
    color: #87879D;
}

body {
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

p {
    font-size: 16px;
    padding-bottom: 20px;
    padding-right: 60px;
}

h1 {}

h4 {
    font-weight: 700;
}
 
/*main*/ 
.mainItems {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 200px;
}

.bodyImage {
    height: 350px;
    border-style: hidden;
    border-radius: 10px;
}

.imageSection {
    padding-right: 90px;
}

.otherSection {
    padding-top: 40px;
}

.sneak {
    color: hsl(26, 100%, 70%);
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: small;
}

.fall {
    padding-bottom: 30px;
}

.otherSection>p {
    color: #87879D;
}

.price {
    font-size: larger;
    font-weight: 700;
}

.discount {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    border-style: solid;
    border-color: hsl(25, 100%, 94%);
    border-radius: 7px;
    font-weight: 700;
    font-size: smaller;
    padding: 1.3px;
    margin-left: 8px;
}

.previous_price {
    font-size: small;
    text-decoration: line-through;
    color: #87879D;
}

div p span {
    line-height: 30px;
}

/* footer */
footer {
    padding-bottom: 12px;
}